.app .logo {
  width: 120px;
  height: 30px;
  background:url(../images/logo_font.png);
  background-size:cover;
  background-repeat:no-repeat;
  border-radius: 6px;
  margin: 16px 24px 16px 0;
  float: left;
}